<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.grumpygiraffe.twilight_imperium_master_companion">
	<uses-sdk />
	<application android:label="Twilight Imperium Master Companion"></application>
</manifest>